# 파이썬으로 MySQL 다루기
### 파이썬에서 MySQL 데이터베이스를 사용하려면 Python DB API 규약에 맞게 작성된 MySQL DB 모듈이 필요
### 일반적으로 PyMysql 모듈을 많이 사용
### => pip install PyMysql 먼저 해야 함 (리눅스...)
### => pip install --user PyMysql 먼저 해야 함 (리눅스...) <- 이걸로? -_-;;

In [10]:
import pymysql

In [22]:
#mysql 데이터베이스 연결
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='bigdata',charset='utf8')

In [23]:
#connection으로부터 cursor 생성
curs=conn.cursor()

In [27]:
#SQL 질의문 생성 및 실행
sql='select * from Bookss'
curs.execute(sql)

10

In [25]:
#결과집합처리
for rs in curs.fetchall():
    print(rs)

(1, '축구의 역사', '굿스포츠', 7000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(2, '축구아는 여자', '나무수', 13000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(3, '축구의 이해', '대한미디어', 22000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(4, '골프 바이블', '대한미디어', 35000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(5, '피겨 교본', '굿스포츠', 8000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(6, '역도 단계별기술', '굿스포츠', 6000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(7, '야구의 추억', '이상미디어', 20000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(8, '야구를 부탁해', '이상미디어', 13000, datetime.datetime(2019, 2, 26, 5, 42, 55))
(9, '올림픽 이야기', '삼성당', 7500, datetime.datetime(2019, 2, 26, 5, 42, 55))
(10, 'Olympic Champions', 'Pearson', 13000, datetime.datetime(2019, 2, 26, 5, 42, 55))

In [58]:
#HR데이터베이스의 Books, Customers, Orders를 inner join한 후 조회
#mysql 데이터베이스 연결
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='hr',charset='utf8')

#connection으로부터 cursor 생성
curs=conn.cursor()

#SQL 질의문 생성 및 실행
sql='select * from Orders join Books using (book'\
'id)'\
' join Customers using (custid)'
curs.execute(sql)

#결과집합처리
#i=0
for rs in curs.fetchall():
    #i+=1
    #print(i)
    print(rs)
    #print(rs[0],rs[1],rs[2]) #배열기반 커서
    
curs.close() #커서도 닫음
conn.close()

(1, 1, 1, 6000, datetime.datetime(2014, 7, 1, 0, 0), '축구의 역사', '굿스포츠', 7000, datetime.datetime(2019, 2, 28, 3, 11), '박지성', '영국 맨체스타', '000-5000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(1, 3, 2, 21000, datetime.datetime(2014, 7, 3, 0, 0), '축구의 이해', '대한미디어', 22000, datetime.datetime(2019, 2, 28, 3, 11), '박지성', '영국 맨체스타', '000-5000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(1, 2, 6, 12000, datetime.datetime(2014, 7, 7, 0, 0), '축구아는 여자', '나무수', 13000, datetime.datetime(2019, 2, 28, 3, 11), '박지성', '영국 맨체스타', '000-5000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(2, 5, 3, 8000, datetime.datetime(2014, 7, 3, 0, 0), '피겨 교본', '굿스포츠', 8000, datetime.datetime(2019, 2, 28, 3, 11), '김연아', '대한민국 서울', '000-6000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(2, 10, 9, 7000, datetime.datetime(2014, 7, 9, 0, 0), 'Olympic Champions', 'Pearson', 13000, datetime.datetime(2019, 2, 28, 3, 11), '김연아', '대한민국 서울', '000-6000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(3, 6, 4, 6000, datetime.datetime(2014, 7, 4, 0, 0), '역도 단계별기술', '굿스포츠', 6000, datetime.datetime(2019, 2, 28, 3, 11), '장미란', '대한민국 강원도', '000-7000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(3, 10, 8, 12000, datetime.datetime(2014, 7, 8, 0, 0), 'Olympic Champions', 'Pearson', 13000, datetime.datetime(2019, 2, 28, 3, 11), '장미란', '대한민국 강원도', '000-7000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(3, 8, 10, 13000, datetime.datetime(2014, 7, 10, 0, 0), '야구를 부탁해', '이상미디어', 13000, datetime.datetime(2019, 2, 28, 3, 11), '장미란', '대한민국 강원도', '000-7000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(4, 7, 5, 20000, datetime.datetime(2014, 7, 5, 0, 0), '야구의 추억', '이상미디어', 20000, datetime.datetime(2019, 2, 28, 3, 11), '추신수', '미국 클리블랜드', '000-8000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))
(4, 8, 7, 13000, datetime.datetime(2014, 7, 7, 0, 0), '야구를 부탁해', '이상미디어', 13000, datetime.datetime(2019, 2, 28, 3, 11), '추신수', '미국 클리블랜드', '000-8000-0001', datetime.datetime(2019, 2, 28, 3, 11, 5))

In [83]:
#1-100까지 2배수, 3배수, 5배수를 테이블에 저장
#테이블 이름 => numbers235
#칼럼명은 각각 no,no2,no3,no5

#테이블생성:create table
#값 저장:insert into
#테이블삭제:drop table
#작업내용 서버에 반영

#HR데이터베이스의 Books, Customers, Orders를 inner join한 후 조회
#mysql 데이터베이스 연결
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='hr',charset='utf8')

#connection으로부터 cursor 생성
curs=conn.cursor()

#SQL 질의문 생성 및 실행
sql1=' create table numbers235 ( '\
' no int, '\
' no2 int, '\
' no3 int, '\
' no5 int, '\
' ) '

no=[]
no2=[]
no3=[]
no5=[]
for i in range(1,100+1):
    no.append(i)
    if i%2==0:
        no2.append(i) 
    if i%3==0:
        no3.append(i)
    if i%5==0:
        no5.append(i)

print(no);print(no2);print(no3);print(no5)

sql2=' insert into numbers235 '\
' values(no,no2,no3,no5) '

sql3='select * from numbers235'

curs.execute(sql1)
curs.execute(sql2)
curs.execute(sql3)

#결과집합처리
#i=0
for rs in curs.fetchall(sql3):
    #i+=1
    #print(i)
    print(rs)
    #print(rs[0],rs[1],rs[2]) #배열기반 커서
    
curs.close() #커서도 닫음
conn.close()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ')' at line 1")

In [ ]:
#HR데이터베이스의 Books, Customers, Orders를 inner join한 후 조회
#mysql 데이터베이스 연결
import pymysql
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='hr',charset='utf8')

#connection으로부터 cursor 생성
curs=conn.cursor()

#SQL 질의문 생성 및 실행
sq1='drop table numbers235'

sql2='create table numbers235 (no int, no2 int, no3 int, no5 int)'

sql3='insert into numbers235 values (%s,%s,%s,%s)'

curs.execute(sql1)
curs.execute(sql2)
    
for i in range(1,100+1):
    curs.execute(' insert into numbers235 values('+str(i)+','+str(i*2)+','+str(i*3)+','+str(i*5)+') ')
    #insert 질의문 작성 시 질의문과 입력값을 함께 사용하면 가독성 떨어지고 유지보수 어려움. 또한 SQL injection 공격 당할 빌미 제공
conn.commit()
conn.close()

In [110]:
#HR데이터베이스의 Books, Customers, Orders를 inner join한 후 조회
#mysql 데이터베이스 연결
import pymysql
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='hr',charset='utf8')

#connection으로부터 cursor 생성
curs=conn.cursor()

#SQL 질의문 생성 및 실행
sql1='drop table numbers235'

sql2='create table numbers235 (no int, no2 int, no3 int, no5 int)'

sql3='insert into numbers235 values (%s,%s,%s,%s)'

sql4='select * from numbers235'

curs.execute(sql1)
curs.execute(sql2)

for i in range(1,100+1):
    curs.execute(sql3,(i,i*2,i*3,i*5))
    #SQL 질의문 작성 시 매개변수 binding 이용하면 가독성 좋아지고 유지보수 용이함. SQL injection 공격 대비도 됨

#curs.execute(sql4)
#for rs in curs.fetchall():
    #print(rs)

conn.commit()
conn.close()

In [124]:
import pymysql
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='bigdata',charset='utf8')

sql='select * from SungJuk'

curs=conn.cursor()
curs.execute(sql)

for rs in curs.fetchall():
    print(rs)

('손담비', 57, 84, 32, 173, Decimal('57.7'), 'F! Study more!')

In [136]:
tot,mean,grade=computeSungJuk(50,55,35)
print(tot,mean,grade)

def computeSungJuk(kor,eng,mat):
    tot=kor+eng+mat
    mean=tot/3
    if mean>=90:grade='A'
    elif mean>=90:grade='B'
    elif mean>=90:grade='C'
    elif mean>=90:grade='D'
    else:grade='F! Study more!'
    return tot,mean,grade

140 46.666666666666664 F! Study more!

In [142]:
tot,mean,grade=computeSungJuk3(75,55,35)
print(tot,mean,grade)

def computeSungJuk3(kor,eng,mat):
    tot=kor+eng+mat
    mean=tot/3
    if mean>=90:grade='A'
    elif mean>=90:grade='B'
    elif mean>=90:grade='C'
    elif mean>=90:grade='D'
    else:grade='F! Study more!'
    return tot,mean,grade

165 55.0 F! Study more!

In [167]:
#성적 테이블 만들고 이름 국어 영어 수학 입력 시 총점 평균 학점 계산 테이블 저장
#테이블명 SungJuk
import pymysql
conn=pymysql.connect(host='52.79.135.218',user='bigdata',password='bigdata0220',db='bigdata',charset='utf8')


def computeSungJuk(kor,eng,mat):
    tot=kor+eng+mat
    mean=tot/3
    if mean>=90:grade='A'
    elif mean>=90:grade='B'
    elif mean>=90:grade='C'
    elif mean>=90:grade='D'
    else:grade='F! Study more!'
    return tot,mean,grade
        
sql1='drop table SungJuk'
sql2=' create table SungJuk(sjno int primary key auto_increment, ' \
' name varchar(10), kor int default 0, eng int default 0, mat int default 0, tot int default 0, mean decimal(4,1) default 0.0, ' \
' grade varchar(2), regdate datetime default current_timestamp)'
sql3='insert into SungJuk(name,kor,eng,mat,tot,mean,grade) values (%s,%s,%s,%s,%s,%s,%s)'

curs=conn.cursor() #커서 생성
#curs.execute(sql1)
curs.execute(sql2)
conn.commit()

name=input('당신의 이름은?: ')
kor=int(input('국어점수? '))
eng=int(input('영어점수? '))
mat=int(input('수학점수? '))
tot,mean,grade=computeSungJuk(kor,eng,mat)

param=(name,kor,eng,mat,tot,mean,grade)

curs.execute(sql3,param) #param은 set
conn.commit()
curs.close
conn.close()

당신의 이름은?: 손담비
국어점수? 95
영어점수? 93
수학점수? 22

/usr/local/python3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1265, "Data truncated for column 'grade' at row 1")
  result = self._query(query)

In [216]:
#클래스를 이용해서 작성

#학번 이름 국어 영어 총점 평균 학점 등록일
import pymysql

class SungJukVO:
    def __init__(self,name,kor,eng,mat):
        self.name=name 
        self.kor=kor 
        self.eng=eng 
        self.mat=mat
        self.tot=0
        self.mean=0.0
        self.grade='가'
        self.sjno=0
        self.regdate=''
           
    def __str__(self):
        msg='%s,%s,%s,%s,%s,%s,%s,%s,%s' %(self.sjno,self.name, self.kor, self.eng, self.mat,self.tot,self.mean,self.grade,self.regdate)
        return msg
    
    def setEtc(self,sjno,tot,mean,grade,regdate):
        self.sjno=sjno
        self.tot=tot
        self.mean=mean
        self.grade=grade
        self.regdate=regdate
        
    def printList(self):
        msg='%s,%s,%s,%s,%s,%s' %(self.sjno,self.name,self.kor,self.eng,self.mat,str(self.regdate)[0:10]) #regdate 슬라이스 치는거 ㅇㅇ
                                                                                                      # (뒤에 시간 안 보려고)
                                                                                                      # (뒤에 시간 안 보려고)        
        return msg

#데이터 입력받기, 성적 처리
class SungJukService:
    def readSungJuk(self):
        name=input('이름은? ')
        kor=int(input('국어는? : '))
        eng=int(input('영어는? : '))
        mat=int(input('수학은? : '))
        return SungJukVO(name,kor,eng,mat)

    def computeSungJuk(self,sj):
        sj.tot=sj.kor+sj.eng+sj.mat
        sj.mean=sj.tot/5
        if sj.mean>=90:sj.grade='A'
        elif sj.mean>=90:sj.grade='B'
        elif sj.mean>=90:sj.grade='C'           
        elif sj.mean>=90:sj.grade='D'
        else:sj.grade='F'
        return sj.tot,sj.mean,sj.grade
            
#디비에 입력 조회 수정 삭제
class SungJukDAO:
    __insertsql=' insert into SungJuk '\
    ' (name,kor,eng,mat,tot,mean,grade) '\
    ' values (%s,%s,%s,%s,%s,%s,%s) '
    __selectsql=' select sjno,name,kor,eng,mat, '\
    ' regdate from SungJuk order by sjno desc '
    __selectonesql=' select * from SungJuk where sjno=(%s) '
    
    def makeConn(self):
        connstr=['52.79.135.218','bigdata','bigdata0220','utf8']
        conn=pymysql.connect(host=connstr[0],user=connstr[1],password=connstr[2],db=connstr[1],charset=connstr[3])
        return conn
    
    def closeConn(self,conn):
        conn.commit()
        conn.close
        
    def insertSungJuk(self,sj):
        param=(sj.name,sj.kor,sj.eng,sj.mat,sj.tot,sj.mean,sj.grade)
        conn=self.makeConn()
        cursor=conn.cursor()
        cursor.execute(self.__insertsql,param)
        self.closeConn(conn)
    
    def selectSungJuk(self):
        conn=self.makeConn()
        
        cursor=conn.cursor()
        cursor.execute(self.__selectsql)
        
        #for rs in cursor.fetchall():
         #   print(rs)
        #클래스/함수에 너무 많은 기능/책임 부여하지 않음 (심지어 출력 결과도 이상함)
    
        #질의 결과 모든 행 출력 방법. 결과들 뽑아서 리스트 저장 후 출력
        rows=cursor.fetchall()
        sjs=[]
        for rs in rows:
            sj=SungJukVO(rs[1],rs[2],rs[3],rs[4]) #sj인스턴스를 만들어서
            sj.setEtc(rs[0],0,0,0,rs[5]) #쿼리 조회 목적 상 tot,mean,grade 안 쓸거니까 ㅋㅋ
            sjs.append(sj) #sjs리스트에 클래스(멤버변수)를 통째로 넣기?!!
        
        self.closeConn(conn)
        return sjs #루프 돌린 리스트(최종)를 리턴
    
    def selectOneSungJuk(self,sjno):
        param=(sjno)
        conn=self.makeConn()
        cursor=conn.cursor()
        cursor.execute(self.__selectonesql,param)
        
        #for rs in cursor.fetchall():
         #   print(rs)

        
        rows=cursor.fetchall()
        sjs2=[]
        for rs in rows:
            sj2=SungJukVO(rs[1],rs[2],rs[3],rs[4]) #sj인스턴스를 만들어서
            sj2.setEtc(rs[7],rs[4],rs[5],rs[6],rs[8])
            sjs2.append(sj2) #sjs리스트에 클래스(멤버변수)를 통째로 넣기?!!
        self.closeConn(conn)
        return sjs2 #루프 돌린 리스트(최종)를 리턴             
        
    def updateSungJuk(self):
        conn=self.makeConn()
        self.closeConn(conn)
        
    def deleteSungJuk(self):
        conn=self.makeConn()
        self.closeConn(conn)
        
#성적 프로그램 실행 테스트
#sjsrv=SungJukService()
sjdao=SungJukDAO()
#성적 데이터를 입력하고 성적을 처리하려면 해당 코드가 작성되어 있는 메서드를 호출해야 함
#readSungJuk,computeSungJuk 메서드를 호출하려면 해당 메서드가 있는 클래스를 instantiate해야 함 

#sj1=sjsrv.readSungJuk()
#sjsrv.computeSungJuk(sj1)
#print(sj1)

#성적프로그램디비실행테스트
#sjdao=SungJukDAO
#sjdao.insertSungJuk(sj1)


sjdao.selectSungJuk()
sjs=sjdao.selectSungJuk()
for sj in sjs:print(sj.printList())
    
sjs2=sjdao.selectOneSungJuk(1)
for sj2 in sjs2:print(sj2)

2,손담비,95,78,57,2019-04-10
1,손담비,95,93,22,2019-04-10
F!,손담비,95,93,22,22,210,70.0,2019-04-10 03:08:34

In [234]:
class Staff:
#생성자 __init__
    def __init__(self,empid,name,deptname,gender,tech,age):
        self.__empid=empid
        self.__name=name
        self.__deptname=deptname
        self.__gender=gender
        self.__tech=tech
        self.__age=age
#문자열화 함수
    def printBIO(self):
        if self.__gender=='M':self.__gender='남자'
        else:self.__gender='여자'
        msg='%s 직원은 나이가 %d이고, 성별은 %s입니다' %(self.__name,self.__age,self.__gender)
        return msg   
#setter/getter
    @property
    def empid(self):
        return self.__empid
    @empid.setter
    def name(self,empid):
        self.__empid=empid
    @property
    def name(self):
        return self.__name
    @name.setter
    def name(self,name):
        self.__name=name
    @property
    def deptname(self):
        return self.__deptname
    @deptname.setter
    def deptname(self,deptname):
        self.__deptname=deptname
    @property
    def gender(self):
        return self.__gender
    @gender.setter
    def gender(self,gender):
        self.__gender=gender
    @property
    def tech(self):
        return self.__tech
    @tech.setter
    def tech(self,tech):
        self.__tech=tech
    @property
    def age(self):
        return self.__age
    @age.setter
    def age(self,age):
        self.__age=age 
#Ernie 직원 정보 객체화 (instantiate)
Ernie=Staff(3,'Ernie','Sales','M','UNIX,Perl',23)
#printBIO() 함수 호출
Ernie.printBIO()

'Ernie 직원은 나이가 23이고, 성별은 남자입니다'

In [236]:
i=0
sum=0
while True:
    i+=1
    if i==5 or i==7 or i==9:
        continue
    if i>10:
        break
    sum+=i
    
print(sum)

34

In [240]:
def f(k,m):
    k=k+1
    m.append(k)
    
k=10
m=[1,2,3]

f(k,m)
print(m)

[1, 2, 3, 11]

In [242]:
round(5.678,1)

5.7

In [270]:
import random

random.randint(5,10)

8

In [272]:

class Staff:
#생성자 __init__
    def __init__(self,empid,name,deptname,gender,tech,age):
        self.__empid=empid
        self.__name=name
        self.__deptname=deptname
        self.__gender=gender
        self.__tech=tech
        self.__age=age

#문자열화 함수 (단, 테이블 상 gender가 'M' 또는 'F'로 저장된 것을 감안, 하기와 같이 각각 '남자', '여자' 변환 if조건문을 추가함)
    def printBIO(self):
        if self.__gender=='M':self.__gender='남자'
        else:self.__gender='여자'
        msg='%s 직원은 나이가 %d이고, 성별은 %s입니다' %(self.__name,self.__age,self.__gender)
        return msg
    
#setter/getter
    @property
    def empid(self):
        return self.__empid
    
    @empid.setter
    def name(self,empid):
        self.__empid=empid

    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self,name):
        self.__name=name

    @property
    def deptname(self):
        return self.__deptname
    
    @deptname.setter
    def deptname(self,deptname):
        self.__deptname=deptname
        
    @property
    def gender(self):
        return self.__gender
    
    @gender.setter
    def gender(self,gender):
        self.__gender=gender
        
    @property
    def tech(self):
        return self.__tech
    
    @tech.setter
    def tech(self,tech):
        self.__tech=tech
        
    @property
    def age(self):
        return self.__age
    
    @age.setter
    def age(self,age):
        self.__age=age 

#Ernie 직원 정보 객체화 (instantiate)
Ernie=Staff(3,'Ernie','Sales','M','UNIX,Perl',23)

#printBIO() 함수 호출
Ernie.printBIO()

#결과: 'Ernie 직원은 나이가 23이고, 성별은 남자입니다'

'Ernie 직원은 나이가 23이고, 성별은 남자입니다'