In [2]:
#텍스트 꾸미기

#'수지'님의 학점은 '수'입니다

name='수지'
grd='수'

print(name+' 님의 학점은 '+grd+' 입니다')

수지 님의 학점은 수 입니다

In [4]:
mean=98.9

print('당신의 학점은'+mean+'입니다')

TypeError: must be str, not float

In [6]:
mean=98.9

print('당신의 학점은'+str(mean)+'입니다')

당신의 학점은98.9입니다

In [19]:
#format함수로 text 꾸미기
name='수지'
grd='수'
mean=98.9

fmt='{}님의 학점은 {}입니다'
print(fmt.format(name,grd))

fmt='{}님의 학점은 {}입니다'
print(fmt.format(name,mean))

fmt='{}님의 학점은'
print(fmt.format([name,mean,grd]))

수지님의 학점은 수입니다
수지님의 학점은 98.9입니다
['수지', 98.9, '수']님의 학점은

In [10]:
#format함수로 text 꾸미기
name='수지'
grd='수'
mean=98.9

fmt='{}님의 학점은 {}입니다'
print(fmt.format(name,grd))

fmt='{}님의 학점은 {}입니다'
print(fmt.format(name,mean))

fmt='{0}님의 학점은 {2}, 평균은 {1}입니다'
print(fmt.format(name,mean,grd))

수지님의 학점은 수입니다
수지님의 학점은 98.9입니다
수지님의 학점은 수, 평균은 98.9입니다

In [63]:
#리스트 요소로 출력 : 리스트번호[인덱스]

name='수지'
grd='수'
mean=98.9

fmt='{0[0]}님의 학점은 {0[2]}, 평균은 {0[1]}입니다'
print(fmt.format([name,mean,grd]))

fmt='{0[0]}입니다'
print(fmt.format([name,mean,grd]))

fmt='{}입니다'
print(fmt.format([name,mean,grd]))

수지님의 학점은 수, 평균은 98.9입니다
수지입니다
['수지', 98.9, '수']입니다

In [14]:
#리스트 요소로 출력 : 리스트번호[인덱스]

name='수지'
grd='수'
mean=98.9

fmt='{1[0]}님의 학점은 {0[1]}, 평균은 {0[2]}입니다'

print(fmt.format([name,mean,grd]))

IndexError: tuple index out of range

In [59]:
#길이가 일정하지 않은 텍스트 출력
nations = [
    {'name': 'China', 'pop':1403500365},
    {'name': 'Japan', 'pop':140332423500365},
    {'name': 'S.Korea', 'pop':1403505},
    {'name': 'Pitcarian Islands', 'pop':1365},
]

fmt='국가:{} | 인구수: {}'

print(fmt.format(1,2))
print()

for item in nations:
    print(fmt.format(item['name'],item['pop']))
print()

fmt='국가:{1:20} | 인구수: {0:15}'

for item in nations:
    print(fmt.format(item['name'],item['pop']))
print()

fmt='국가:{0:20} | 인구수: {1:16}'
for item in nations:
    print(fmt.format(item['name'],item['pop']))
print()

fmt='국가:{0:20} | 인구수: {1:020}'
for item in nations:
    print(fmt.format(item['name'],item['pop']))

국가:1 | 인구수: 2

국가:China | 인구수: 1403500365
국가:Japan | 인구수: 140332423500365
국가:S.Korea | 인구수: 1403505
국가:Pitcarian Islands | 인구수: 1365

국가:          1403500365 | 인구수: China
국가:     140332423500365 | 인구수: Japan
국가:             1403505 | 인구수: S.Korea
국가:                1365 | 인구수: Pitcarian Islands

국가:China                | 인구수:       1403500365
국가:Japan                | 인구수:  140332423500365
국가:S.Korea              | 인구수:          1403505
국가:Pitcarian Islands    | 인구수:             1365

국가:China                | 인구수: 00000000001403500365
국가:Japan                | 인구수: 00000140332423500365
국가:S.Korea              | 인구수: 00000000000001403505
국가:Pitcarian Islands    | 인구수: 00000000000000001365

In [25]:
#자리에 정렬 이용 : < 왼쪽         > 오른쪽
nations = [
    {'name': 'China', 'pop':1403500365},
    {'name': 'Japan', 'pop':140332423500365},
    {'name': 'S.Korea', 'pop':1403505},
    {'name': 'Pitcarian Islands', 'pop':1365},
]

fmt='국가:{0:>20} | 인구수: {1:010}'

for item in nations:
    print(fmt.format(item['name'],item['pop']))

국가:               China | 인구수: 1403500365
국가:               Japan | 인구수: 140332423500365
국가:             S.Korea | 인구수: 0001403505
국가:   Pitcarian Islands | 인구수: 0000001365

In [32]:
#길이가 일정하지 않은 텍스트 출력
nations = [
    {'name': 'China', 'pop':1403500365},
    {'name': 'Japan', 'pop':140332423500365},
    {'name': 'S.Korea', 'pop':1403505},
    {'name': 'Pitcarian Islands', 'pop':1365},
]

i=0
for item in nations: #item 리스트 안에 있는 각 {}를 하나씩 루프 돌림
    print(item)
    i+=1
    print(i)

{'name': 'China', 'pop': 1403500365}
1
{'name': 'Japan', 'pop': 140332423500365}
2
{'name': 'S.Korea', 'pop': 1403505}
3
{'name': 'Pitcarian Islands', 'pop': 1365}
4

In [46]:
#format 문자열 리터럴 formatted string literal
#문자열 속의 식을 평가식으로 치환하게 해줌. python 3.6부터 도입

kor,eng,mat=98,97,96
print('국어:{kor} 영어:{eng} 수학:{mat}')
print(f'국어:{kor} 영어:{eng} 수학:{mat}')
print(f'총점:{kor+eng+mat} 평균:{(kor+eng+mat)/3}')

print(f'국어:{kor} 영어:{eng:15} 수학:{mat:05}')
print(f'총점:{kor+eng+mat} 평균:{(kor+eng+mat)/3}')

국어:{kor} 영어:{eng} 수학:{mat}
국어:98 영어:97 수학:96
총점:291 평균:97.0
국어:98 영어:             97 수학:00096
총점:291 평균:97.0

In [49]:
#정규 표현식
#텍스트를 다룰 때 텍스트에서 일정한 패턴(규칙)을 찾아야 할 필요 존재
#패턴: 전화번호 형식, 이메일 형식 등

#텍스트 패턴 표현하는 일정한 표현식 => regular expression
#파이썬에서는 re라는 모듈을 이용해서 정규표현식 패턴 다룸

import re

str1='Hello, World!!'

#텍스트에서 패턴 존재여부확인
pat=re.compile(r'Hello') #패턴을 re객체로 컴파일 해둠 - 성능 개선
re.search(pat,str1) #str1에서 pat에 매핑된 'Hello'를 찾아라

In [67]:
#정규 표현식
#텍스트를 다룰 때 텍스트에서 일정한 패턴(규칙)을 찾아야 할 필요 존재
#패턴: 전화번호 형식, 이메일 형식 등

#텍스트 패턴 표현하는 일정한 표현식 => regular expression
#파이썬에서는 re라는 모듈을 이용해서 정규표현식 패턴 다룸

import re

str1='Hello, World!!'

#텍스트에서 패턴 존재여부확인
pat2=re.compile(r'World') #패턴을 re객체로 컴파일 해둠 - 성능 개선
re.search(pat2,str1) #str1에서 pat에 매핑된 'Hello'를 찾아라

In [64]:
import re

str1='Hello, World!!'
re.search(r'World',str1)

In [65]:
import re

str1='Hello, World!!'
re.search('World',str1)

In [68]:
import re
str1='Hello, World!!'
pat2=='World'
re.search(pat2,str1)

In [71]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.search(r'Python',str1)
re.match(r'Python',str1)
re.fullmatch(r'Python',str1)

In [72]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.match(r'Python',str1)

In [78]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.match(r'Python',str2)

In [79]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.match(r'Python',str3) #못 찾아줌!!

In [76]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.fullmatch(r'Python Data Science',str2)

In [77]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.fullmatch(r'Python Data',str2) #못 찾아줌!

In [82]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.search(r'Python',str1)

In [81]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.search(r'Python',str2)

In [83]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

re.search(r'Python',str3)

In [85]:
#패턴 일치 결과로 조건문에 적용
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

matchs = re.search(r'Python',str3)
if matchs: print('패턴존재함')
else: print('패턴존재x')

패턴존재함

In [87]:
#패턴으로 찾은 후 다른 문자열로 치환 : sub

str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

str2=re.sub(r'Python','Java',str1)
print(str2)

Java

In [90]:
str1='Python'
str2='Python Data Science'
str3='Hello, Python!!!'

str4=re.sub(r'Python ','',str2)
print(str4)

Data Science

# 정규 표현식 문자열
### .:개행문자를 제외한 아무 문자 하나
###  \w : 숫자 밑줄 알파벳 중 아무 문자 하나 => [a-z  A-Z  0-9   _ ]와 동일
###  \d : 숫자 중 아무 숫자 하나 => [0-9]와 동일
### \s : 공백 문자 중 아무 공백 문자... => [\t \n \r \f \v]

### ^ : 텍스트 시작
### $ : 텍스트 끝

### ? : 앞 문자 0 또는 1번만 출현
### + : 앞 문자 1번 이상 출현
### * : 앞 문자 0번 이상 출현

### [문자들] : 대괄호속 문자들 중 하나
### [^문자들] : 대괄호속 문자들 아닌 문자 하나

### 숫자} :  앞 문자가 숫자만큼 출현
### 숫자1,숫자2} : 앞 문자가 숫자1~숫자2 만큼 출현

In [97]:
#텍스트에서 한글 영어 숫자 추출
str4='12345Python홍길동'

kor=re.search(r'홍길동',str4)
print(kor.group())

홍길동

In [107]:
#텍스트에서 한글 영어 숫자 추출
str4='12345Python홍길동'

kor=re.findall(r'[가-힣]{1}',str4)
print(kor.group())

AttributeError: 'list' object has no attribute 'group'

In [122]:
#텍스트에서 한글 영어 숫자 추출
str4='허준12345Python홍길동'

kor=re.findall(r'[가-힣]{2,3}',str4)
print(kor) #findall은 리스트로 들어감

['허준', '홍길동']

In [106]:
#텍스트에서 한글 영어 숫자 추출
str4='12345Python홍길동'

kor=re.search(r'[가-힣]{1}',str4)
print(kor.group())

kor=re.search(r'[가-힣]{2}',str4)
print(kor.group())

kor=re.search(r'[가-힣]{3}',str4)
print(kor.group())

kor=re.search(r'[가-힣]{1,3}',str4)
print(kor.group())

홍
홍길
홍길동
홍길동

In [133]:
#텍스트에서 한글 영어 숫자 추출
str4='허준12345Python홍길동'

eng=re.search(r'[a-z]',str4)
print(eng.group())

eng=re.search(r'[a-zA-Z]',str4)
print(eng.group())

eng=re.search(r'[a-zA-Z]{6}',str4)
print(eng.group())

eng=re.search(r'\w',str4)
print(eng.group())

alpnum=re.search(r'\w{6}',str4)
print(alpnum.group())

digit=re.search(r'[0-9]',str4)
print(digit.group())

digit=re.search(r'[0-9]{5}',str4)
print(digit.group())

digit=re.search(r'\d{5}',str4)
print(digit.group())
                     
digit=re.search(r'\d',str4)
print(digit.group())

y
P
Python
허
허준1234
1
12345
12345
1

In [135]:
#텍스트에서 전화번호 패턴 찾기
str5='이름:수지, 연락처: 010-9876-5432, 주소: 서울시 광진구 자양동 321'

tel=re.search(r'[0-9]{3}-[0-9]{4}-[0-9]{4}',str5)
print(tel.group())

010-9876-5432

In [136]:
#텍스트에서 전화번호 패턴 찾기
str5='이름:수지, 연락처: 010-9876-5432, 주소: 서울시 광진구 자양동 321'

tel=re.search(r'\d{3}-\d{4}-\d{4}',str5)
print(tel.group())

010-9876-5432

In [139]:
#텍스트에서 전화번호 패턴 찾기
str5='이름:수지, 연락처: 010-9876-5432, 주소: 서울시 광진구 자양동 321'

tel=re.search(r'01\d-\d{4}-\d{4}',str5)
print(tel.group())

010-9876-5432

In [142]:
#텍스트에서 전화번호 패턴 찾기
str5='이름:수지, 연락처: 010-9876-5432, 주소: 서울시 광진구 자양동 321'

tel=re.search(r'\d-\d-\d',str5)
print(tel)

None

In [145]:
#텍스트에서 전화번호 패턴 찾기
str5='이름:수지, 연락처: 010-9876-5432, 주소: 서울시 광진구 자양동 321'

tel=re.search(r'\d-\d',str5)
print(tel.group())

0-9

In [151]:
str6='I Love 파이썬 Programming!!'
str7='a1가b2나c3다d4라e5마f6바g7사'

#한글만 추출 정규식 이용 korean_only라는 함수 작성
p=re.search(r'[가-힣]{3}',str6)
print(p.group())

p=re.sub(r'[A-Za-z!\s]','',str6) #\s는 빈칸 찾기!! ㅋㅋㅋ
print(p)

p=re.sub(r'\w','',str6)
print(p)

p=re.sub(r'','',str6)
print(p)

파이썬
파이썬
   !!
I Love 파이썬 Programming!!

In [152]:
str7='a1가b2나c3다d4라e5마f6바g7사'

p=re.search(r'[가-힣]{2}',str7)
print(p.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [158]:
str7='a1가b2나c3다d4라e5마f6바g7사'

p=re.findall(r'[가-힣]',str7)
print(p)
print(''.join(p))
print(re.sub(r'[a-z0-9]','',str7))

p=re.search(r'^[a-z0-9]',str7)
print(p.group())

['가', '나', '다', '라', '마', '바', '사']
가나다라마바사
가나다라마바사
a

In [162]:
def korean_only(s):
    p=re.findall(r'[^0-9a-zA-Z!\s]',s)
    return ''.join(p)

print(korean_only('I Love 파이썬 Programming!!'))
print(korean_only('a1가b2나c3다d4라e5마f6바g7사'))

파이썬
가나다라마바사

In [161]:
def korean_only(s):
    p=re.findall(r'[^가-힣]',s)
    return ''.join(p)

print(korean_only('I Love 파이썬 Programming!!'))
print(korean_only('a1가b2나c3다d4라e5마f6바g7사'))

I Love  Programming!!
a1b2c3d4e5f6g7

In [164]:
import collections

val=[1,3,2,1,1,2,3,4,2,1,1,1,2]

print(collections.counter(val))

AttributeError: module 'collections' has no attribute 'counter'

In [165]:
import collections

val=[1,3,2,1,1,2,3,4,2,1,1,1,2]

print(collections.Counter(val))

Counter({1: 6, 2: 4, 3: 2, 4: 1})

In [173]:
import collections
from collections import Counter

val=[1,3,2,1,1,2,3,4,2,1,1,1,2]

print(collections.Counter(val))
print(Counter(val))

Counter({1: 6, 2: 4, 3: 2, 4: 1})
Counter({1: 6, 2: 4, 3: 2, 4: 1})

In [167]:
str1='aabcdefbagffde'

print(collections.Counter(str1))

Counter({'a': 3, 'f': 3, 'b': 2, 'd': 2, 'e': 2, 'c': 1, 'g': 1})

In [180]:

text='I am honored to be with you today at your commencement from one of the finest universities in the world. I never graduated from college. Truth be told, this is the closest Ive ever gotten to a college graduation. Today I want to tell you three stories from my life. Thats it. No big deal. Just three stories.'

words=text.split() #문장을 공백을 기준으로 각 단어로 잘라냄
print(collections.Counter(words))

Counter({'I': 3, 'to': 3, 'from': 3, 'the': 3, 'be': 2, 'you': 2, 'three': 2, 'am': 1, 'honored': 1, 'with': 1, 'today': 1, 'at': 1, 'your': 1, 'commencement': 1, 'one': 1, 'of': 1, 'finest': 1, 'universities': 1, 'in': 1, 'world.': 1, 'never': 1, 'graduated': 1, 'college.': 1, 'Truth': 1, 'told,': 1, 'this': 1, 'is': 1, 'closest': 1, 'Ive': 1, 'ever': 1, 'gotten': 1, 'a': 1, 'college': 1, 'graduation.': 1, 'Today': 1, 'want': 1, 'tell': 1, 'stories': 1, 'my': 1, 'life.': 1, 'Thats': 1, 'it.': 1, 'No': 1, 'big': 1, 'deal.': 1, 'Just': 1, 'stories.': 1})

In [182]:

text='I am honored to be with you today at your commencement from one of the finest universities in the world. I never graduated from college. Truth be told, this is the closest Ive ever gotten to a college graduation. Today I want to tell you three stories from my life. Thats it. No big deal. Just three stories.'

words=text.split(' ') #문장을 공백을 기준으로 각 단어로 잘라냄
print(collections.Counter(words))

Counter({'I': 3, 'to': 3, 'from': 3, 'the': 3, 'be': 2, 'you': 2, 'three': 2, 'am': 1, 'honored': 1, 'with': 1, 'today': 1, 'at': 1, 'your': 1, 'commencement': 1, 'one': 1, 'of': 1, 'finest': 1, 'universities': 1, 'in': 1, 'world.': 1, 'never': 1, 'graduated': 1, 'college.': 1, 'Truth': 1, 'told,': 1, 'this': 1, 'is': 1, 'closest': 1, 'Ive': 1, 'ever': 1, 'gotten': 1, 'a': 1, 'college': 1, 'graduation.': 1, 'Today': 1, 'want': 1, 'tell': 1, 'stories': 1, 'my': 1, 'life.': 1, 'Thats': 1, 'it.': 1, 'No': 1, 'big': 1, 'deal.': 1, 'Just': 1, 'stories.': 1})

In [187]:
text='I am honored to be with you today at your commencement from one of the finest universities in the world. I never graduated from college. Truth be told, this is the closest Ive ever gotten to a college graduation. Today I want to tell you three stories from my life. Thats it. No big deal. Just three stories.'

words=text.split() #문장을 공백을 기준으로 각 단어로 잘라냄
print(collections.Counter(words))

wdcnt=Counter(words)

print(wdcnt.get('I',0)) #I단어의 빈도수 출력. 없으면 0으로 출력
print(wdcnt.get('xyz',0))

Counter({'I': 3, 'to': 3, 'from': 3, 'the': 3, 'be': 2, 'you': 2, 'three': 2, 'am': 1, 'honored': 1, 'with': 1, 'today': 1, 'at': 1, 'your': 1, 'commencement': 1, 'one': 1, 'of': 1, 'finest': 1, 'universities': 1, 'in': 1, 'world.': 1, 'never': 1, 'graduated': 1, 'college.': 1, 'Truth': 1, 'told,': 1, 'this': 1, 'is': 1, 'closest': 1, 'Ive': 1, 'ever': 1, 'gotten': 1, 'a': 1, 'college': 1, 'graduation.': 1, 'Today': 1, 'want': 1, 'tell': 1, 'stories': 1, 'my': 1, 'life.': 1, 'Thats': 1, 'it.': 1, 'No': 1, 'big': 1, 'deal.': 1, 'Just': 1, 'stories.': 1})
3
0

In [190]:
#최상위 빈도수 출력 : most_common
chars=Counter(val)
print(chars)
print()
print(chars.most_common(3))
print()
print(chars.most_common(5))

Counter({1: 6, 2: 4, 3: 2, 4: 1})

[(1, 6), (2, 4), (3, 2)]

[(1, 6), (2, 4), (3, 2), (4, 1)]

In [ ]:
text='I am honored to be with you today at your commencement from one of the finest universities in the world. I never graduated from college. Truth be told, this is the closest Ive ever gotten to a college graduation. Today I want to tell you three stories from my life. Thats it. No big deal. Just three stories.'

## 파일 입출력 다루기. 프로그램 상 입력 데이터, 프로그램 종료 시 메모리에서 사라짐. 
## 입력 데이터 나중에도 사영하려면 저장장치에 기록해야 함 (데이터 영속성!!)


### 파일 읽거나 쓸 때 절차. open 함수로 대상 파일 지정하고 객체 얻음. 파일 객체에 입력/출력 작업 실행. 작업 끝나면 close 함수로 파일 닫음.

In [199]:
#steve.txt 파일 읽고 내용 출력

f=open('steve.txt','r',encoding='utf-8') #r은 읽기모드. 생략해도 기본은 읽기모드
i=0
for doc in f:
    print(doc)
    i+=1
    print(i)
f.close() #이거 닫는거랑 프린트 찍힌거랑 관계 없음. 

#open(파일,모드,인코딩)

존경하는 한완상 위원장께서 3.1운동과 임시정부수립 100주년 기념사업의 추진방향을 발표해 주셨습니다.

1


2
감사합니다.

3


4


5


6
위원 여러분, 7대 종단 대표 여러분,

7


8
뜻깊은 자리에서 뵙게 되어 참으로 반갑습니다.

9


10


11


12
위원 한 분 한 분의 삶에서 대한민국 100년의 역사를 봅니다.

13


14
독립운동가의 후손, 민주열사 유가족, 청계피복노조 여성 노동운동가와 파독간호사, 노조와 기업인 대표를 비롯한 예순 여덟 분이 함께 해주셨습니다.

15


16


17


18
100년을 넘어 다시 희망의 100년을 위해 위원직을 수락해 주신 모든 분들께 깊은 존경과 감사의 말씀을 드립니다.

19


20


21


22
현재, 여성 민간위원의 비율이 과반을 넘고 있습니다.

23


24
정부 위원회 최초입니다.

25


26
다른 위원회 구성에도 모범이 될 수 있도록 구성이 완료될 때까지 조금만 더 수고해 주시기 바랍니다.

27


28


29


30
위원 여러분,

31


32
1919년 한반도와 세계 각지의 하늘에 ‘대한독립 만세’의 외침이 울려 퍼졌습니다.

33


34
3.1운동은 민족의 자주독립과 평화, 민주와 인권의 가치를 외친 선언이자 실천이었습니다.

35


36


37


38
3.1운동으로 분출된 민족의 역량은 대한민국 임시정부 수립으로 이어졌습니다.

39


40
100년 전 선조들은 일제의 불의와 폭력에 맞섰고, 성별과 빈부의 차별, 소수의 특권과 기득권, 불공정과 불평등을 청산하고자 했습니다.

41


42


43


44
모두가 자유롭고 평등한 민주공화국을 외쳤습니다.

45


46
임시정부가 대한민국이라는 국호와 함께 민주공화국을 국체로 선언한 것은 그 시기를 생각해보면 참으로 놀라운 일입니다.

47


48


49


50
왕정과 식민지를 뛰어넘어 민주공화국을 탄생시킨 선조들의 고귀한 정신은 100년 동안 잠들지 않았습니다.

51


52
지난 촛불혁명은 3.1운동의 정신을 이은, 명예로운 시민혁명이었습니다.

53


54


55


56
남북정상회담을 성공시킨 주인공도 국민입니다.

57


58
한반도의 평화와 공동번영을 염원하는 국민의 힘이 대담한 상상력의 바탕이 되었고, 한반도에 새로운 100년의 역사를 열고 있습니다.

59


60


61


62
위원 여러분,

63


64
우리에게는 민주공화국 100년의 자랑스러운 역사가 있습니다.

65


66
동시에 선조들의 위대한 유산을 더욱 풍요롭게 만들어 미래 세대에게 물려줄 책무도 부여받고 있습니다.

67


68


69


70
누구보다 청년들이 역사에서 길을 발견하고, 공동체의 삶에 자긍심을 가져야 새로운 100년을 열 수 있습니다.

71


72


73


74
3.1운동과 임시정부 수립 100주년을 기념하는 일이 정의롭고 공정한 나라의 토대가 되어야 할 것입니다.

75


76


77


78
지난 1월 정부는 대한민국 임시정부기념관 건립위원회를 출범시켰습니다.

79


80
기념관에는 독립을 위해 희생하고 헌신한 분들의 삶과 정신을 하나하나 충실히 담아낼 것입니다.

81


82
중국 충칭의 광복군 총사령부 복원도 임시정부 수립 100주년이 되는 내년 4월을 목표로 중국 정부와 긴밀하게 협력하고 있습니다.

83


84


85


86
일제가 훼손한 이상룡 선생의 본가 안동의 임청각도 올해 말까지 종합정비계획을 수립해 본격적인 복원에 착수할 것입니다.

87


88
연해주 독립운동의 대부 최재형 선생을 기리는 기념관이 러시아 우수리스크에서 올해 안에 개관할 예정입니다.

89


90


91


92
여성 독립운동가와 의병도 적극 발굴하고 있습니다.

93


94
정부는 옥고(獄苦) 여부와 상관없이 독립운동 사실이 확인되면 포상을 추진할 수 있도록 독립유공자 심사기준을 전면 개선했습니다.

95


96
모든 애국지사와 독립유공자의 후손들께 국가의 도리를 다해 나갈 것입니다.

97


98


99


100
70년을 이어온 남북분단과 적대는 독립운동의 역사도 갈라놓았습니다.

101


102
지난 4월 27일 저와 김정은 위원장은 3.1운동 100주년 남북공동기념 사업추진을 논의했고 판문점 선언에 그 취지를 담았습니다.

103


104


105


106
남과 북이 독립운동의 역사를 함께 공유하게 된다면 서로의 마음도 더 가까워질 수 있을 것이라 생각합니다.

107


108
위원회에서, 남북이 공동으로 할 수 있는 사업까지 구상해 주실 것을 당부 드립니다.

109


110


111


112
100주년 기념사업 하나하나가 우리의 역사적 자긍심의 근거가 될 것입니다.

113


114
청년들은 대한민국을 더 사랑하게 될 것입니다.

115


116


117


118
존경하는 위원 여러분,

119


120
1919년 3월 5일, 서울역 광장에서는 유관순 열사와 이화학당 친구들이 1만여 명의 청년학생들과 함께 만세 시위를 벌였습니다.

121


122
나흘 뒤, 독립군의 어머니 남자현 여사가 이곳에서 기차를 타고 압록강을 건넜습니다.

123


124


125


126
1907년 4월 22일, 고종의 특명을 받은 이준 선생은 이곳 서울역에서 출발해 부산, 블라디보스톡을 거쳐 시베리아횡단열차로 헤이그에 이르렀습니다.

127


128
1936년 6월 4일, 스물넷의 마라톤 선수 손기정이 베를린으로 가기 위해 기차에 오른 것도 서울역이었습니다.

129


130
최초의 여성 서양화가 나혜석도 1927년 서른하나의 나이에 같은 열차로 파리를 향했습니다.

131


132


133


134
서울역은 우리 역사의 주요 무대였고 대륙으로 우리의 삶을 확장하는 출발지였습니다.

135


136
오늘 3.1운동, 임시정부 100주년 기념사업추진위원회는 서울역에 남겨진 우리 역사의 발걸음을 되새기면서,

137


138
우리가 가야할 미래를 바라보고 있습니다.

139


140


141


142
여러분,

143


144
이곳에서 열리는 출범식이 새로운 100년을 알리는 기적 소리와 함께 지난 100년을 기념하는 힘찬 출발의 자리가 되길 기원합니다.

145


146


147


148
감사합니다.
149

In [201]:
#steve.txt 파일 읽고 내용 출력

f=with open('steve.txt','r',encoding='utf-8') #r은 읽기모드. 생략해도 기본은 읽기모드
i=0
for doc in f:
    print(doc)
    i+=1
    print(i)

SyntaxError: invalid syntax (<ipython-input-201-97a555cae76f>, line 3)

In [202]:
i=0
with open('steve.txt','r',encoding='utf-8') as f: #r은 읽기모드. 생략해도 기본은 읽기모드 // with open 하면 별도 .close() 안 써도 닫힘
    for doc in f:
        print(doc)
        i+=1
        print(i)

존경하는 한완상 위원장께서 3.1운동과 임시정부수립 100주년 기념사업의 추진방향을 발표해 주셨습니다.

1


2
감사합니다.

3


4


5


6
위원 여러분, 7대 종단 대표 여러분,

7


8
뜻깊은 자리에서 뵙게 되어 참으로 반갑습니다.

9


10


11


12
위원 한 분 한 분의 삶에서 대한민국 100년의 역사를 봅니다.

13


14
독립운동가의 후손, 민주열사 유가족, 청계피복노조 여성 노동운동가와 파독간호사, 노조와 기업인 대표를 비롯한 예순 여덟 분이 함께 해주셨습니다.

15


16


17


18
100년을 넘어 다시 희망의 100년을 위해 위원직을 수락해 주신 모든 분들께 깊은 존경과 감사의 말씀을 드립니다.

19


20


21


22
현재, 여성 민간위원의 비율이 과반을 넘고 있습니다.

23


24
정부 위원회 최초입니다.

25


26
다른 위원회 구성에도 모범이 될 수 있도록 구성이 완료될 때까지 조금만 더 수고해 주시기 바랍니다.

27


28


29


30
위원 여러분,

31


32
1919년 한반도와 세계 각지의 하늘에 ‘대한독립 만세’의 외침이 울려 퍼졌습니다.

33


34
3.1운동은 민족의 자주독립과 평화, 민주와 인권의 가치를 외친 선언이자 실천이었습니다.

35


36


37


38
3.1운동으로 분출된 민족의 역량은 대한민국 임시정부 수립으로 이어졌습니다.

39


40
100년 전 선조들은 일제의 불의와 폭력에 맞섰고, 성별과 빈부의 차별, 소수의 특권과 기득권, 불공정과 불평등을 청산하고자 했습니다.

41


42


43


44
모두가 자유롭고 평등한 민주공화국을 외쳤습니다.

45


46
임시정부가 대한민국이라는 국호와 함께 민주공화국을 국체로 선언한 것은 그 시기를 생각해보면 참으로 놀라운 일입니다.

47


48


49


50
왕정과 식민지를 뛰어넘어 민주공화국을 탄생시킨 선조들의 고귀한 정신은 100년 동안 잠들지 않았습니다.

51


52
지난 촛불혁명은 3.1운동의 정신을 이은, 명예로운 시민혁명이었습니다.

53


54


55


56
남북정상회담을 성공시킨 주인공도 국민입니다.

57


58
한반도의 평화와 공동번영을 염원하는 국민의 힘이 대담한 상상력의 바탕이 되었고, 한반도에 새로운 100년의 역사를 열고 있습니다.

59


60


61


62
위원 여러분,

63


64
우리에게는 민주공화국 100년의 자랑스러운 역사가 있습니다.

65


66
동시에 선조들의 위대한 유산을 더욱 풍요롭게 만들어 미래 세대에게 물려줄 책무도 부여받고 있습니다.

67


68


69


70
누구보다 청년들이 역사에서 길을 발견하고, 공동체의 삶에 자긍심을 가져야 새로운 100년을 열 수 있습니다.

71


72


73


74
3.1운동과 임시정부 수립 100주년을 기념하는 일이 정의롭고 공정한 나라의 토대가 되어야 할 것입니다.

75


76


77


78
지난 1월 정부는 대한민국 임시정부기념관 건립위원회를 출범시켰습니다.

79


80
기념관에는 독립을 위해 희생하고 헌신한 분들의 삶과 정신을 하나하나 충실히 담아낼 것입니다.

81


82
중국 충칭의 광복군 총사령부 복원도 임시정부 수립 100주년이 되는 내년 4월을 목표로 중국 정부와 긴밀하게 협력하고 있습니다.

83


84


85


86
일제가 훼손한 이상룡 선생의 본가 안동의 임청각도 올해 말까지 종합정비계획을 수립해 본격적인 복원에 착수할 것입니다.

87


88
연해주 독립운동의 대부 최재형 선생을 기리는 기념관이 러시아 우수리스크에서 올해 안에 개관할 예정입니다.

89


90


91


92
여성 독립운동가와 의병도 적극 발굴하고 있습니다.

93


94
정부는 옥고(獄苦) 여부와 상관없이 독립운동 사실이 확인되면 포상을 추진할 수 있도록 독립유공자 심사기준을 전면 개선했습니다.

95


96
모든 애국지사와 독립유공자의 후손들께 국가의 도리를 다해 나갈 것입니다.

97


98


99


100
70년을 이어온 남북분단과 적대는 독립운동의 역사도 갈라놓았습니다.

101


102
지난 4월 27일 저와 김정은 위원장은 3.1운동 100주년 남북공동기념 사업추진을 논의했고 판문점 선언에 그 취지를 담았습니다.

103


104


105


106
남과 북이 독립운동의 역사를 함께 공유하게 된다면 서로의 마음도 더 가까워질 수 있을 것이라 생각합니다.

107


108
위원회에서, 남북이 공동으로 할 수 있는 사업까지 구상해 주실 것을 당부 드립니다.

109


110


111


112
100주년 기념사업 하나하나가 우리의 역사적 자긍심의 근거가 될 것입니다.

113


114
청년들은 대한민국을 더 사랑하게 될 것입니다.

115


116


117


118
존경하는 위원 여러분,

119


120
1919년 3월 5일, 서울역 광장에서는 유관순 열사와 이화학당 친구들이 1만여 명의 청년학생들과 함께 만세 시위를 벌였습니다.

121


122
나흘 뒤, 독립군의 어머니 남자현 여사가 이곳에서 기차를 타고 압록강을 건넜습니다.

123


124


125


126
1907년 4월 22일, 고종의 특명을 받은 이준 선생은 이곳 서울역에서 출발해 부산, 블라디보스톡을 거쳐 시베리아횡단열차로 헤이그에 이르렀습니다.

127


128
1936년 6월 4일, 스물넷의 마라톤 선수 손기정이 베를린으로 가기 위해 기차에 오른 것도 서울역이었습니다.

129


130
최초의 여성 서양화가 나혜석도 1927년 서른하나의 나이에 같은 열차로 파리를 향했습니다.

131


132


133


134
서울역은 우리 역사의 주요 무대였고 대륙으로 우리의 삶을 확장하는 출발지였습니다.

135


136
오늘 3.1운동, 임시정부 100주년 기념사업추진위원회는 서울역에 남겨진 우리 역사의 발걸음을 되새기면서,

137


138
우리가 가야할 미래를 바라보고 있습니다.

139


140


141


142
여러분,

143


144
이곳에서 열리는 출범식이 새로운 100년을 알리는 기적 소리와 함께 지난 100년을 기념하는 힘찬 출발의 자리가 되길 기원합니다.

145


146


147


148
감사합니다.
149

In [204]:
#number100.txt 파일 만들고 내용 1~100 숫자 저장
f=open('number100.txt','w',encoding='utf-8')
for i in range(1,100+1):
    f.write(i)

TypeError: write() argument must be str, not int

In [205]:
#number100.txt 파일 만들고 내용 1~100 숫자 저장
f=open('number100.txt','w',encoding='utf-8')
for i in range(1,100+1):
    f.write(str(i))

TypeError: 'str' object is not callable